
 <h2>Carry forward Request details</h2>
            
 <table class="table table-bordered">
   <thead>
     <tr>
       <th>ID</th>
       <th>User ID</th>
       <th>Message</th>
   <th>Status ID</th>
   
   
   
     </tr>
   <tr>
   <th>1</th>
       <th>1</th>
       <th>hkjgjfug</th>
   <th>mvnvn,</th>
   
 
       <th> <button type="button"  >Approve</button><button type="button"  data-toggle="modal" data-target="#myModal">Reject</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
 <div class="modal-dialog">

   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       
     </div>
     <div class="modal-body">
       <p>Are you sure delete?</p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>

 </div>
</div></th>
   </tr>
   </thead>
   <tbody>
     
 
