<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add User Registration</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
	  <h3>User Registration</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-3" >User Id:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="userid" placeholder="Enter User Id" name="userid">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" >User Name:</label>
      <div class="col-sm-9">          
        <input type="User Name" class="form-control" id="username" placeholder="Enter User Name" name="username">
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-3" >E-mail:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email">
      </div></div>
	  <div class="form-group">
      <label class="control-label col-sm-3" >First Name:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="firstname" placeholder="Enter FIrst Name" name="firstname">
      </div>
	  </div>
	      <div class="form-group">
      <label class="control-label col-sm-3" >Last Name:</label>
      <div class="col-sm-9">          
        <input type="Last Name" class="form-control" id="lastname" placeholder="Enter Last Name" name="lastname">
      </div>
    </div>
	    <div class="form-group">
      <label class="control-label col-sm-3" >Join Date:</label>
      <div class="col-sm-9">          
        <input type="Join Date" class="form-control" id="joindate" placeholder="Enter Join Date" name="joindate">
      </div>
    </div>
	    <div class="form-group">
      <label class="control-label col-sm-3" >Service Period:</label>
      <div class="col-sm-9">          
        <input type="service period" class="form-control" id="serviceperiod" placeholder="Enter Service Period" name="serviceperiod">
      </div>
    </div>
	    <div class="form-group">
      <label class="control-label col-sm-3" >Password:</label>
      <div class="col-sm-9">          
        <input type="Password" class="form-control" id="Password" placeholder="Enter Password" name="password">
      </div>
    </div>
  </form>
      </div>
      <div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Add User</button>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Update User</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
