<div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Leave statistic</div>
      <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Leave Type</th>
            <th>Total</th>
        <th>Remaining days</th>
        <th>utilized days</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Casual</td>
            <td>10 days</td>
        <td>8 days</td>
        <td>2 days</td>
          </tr>
     <tr>
            <td>Medical</td>
            <td>10 days</td>
        <td>8 days</td>
        <td>2 days</td>
          </tr>
        <tr>
            <td>Annual</td>
            <td>10 days</td>
        <td>8 days</td>
        <td>2 days</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    </div>
