<table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th class="align-middle">Admin</th>
        <th>H.R</th>
        <th>Director</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Mange Roles</th>
          <th>
            <input type="checkbox" value="">
          </th>
          <th>
              <input type="checkbox" value="">
            </th>
            <th>
                <input type="checkbox" value="">
              </th>
      </tr>

      <tr>
          <th>Mange Status</th>
            <th>
              <input type="checkbox" value="">
            </th>
            <th>
                <input type="checkbox" value="">
              </th>
              <th>
                  <input type="checkbox" value="">
                </th>
        </tr>

        <tr>
            <th>Mange Users</th>
              <th>
                <input type="checkbox" value="">
              </th>
              <th>
                  <input type="checkbox" value="">
                </th>
                <th>
                    <input type="checkbox" value="">
                  </th>
          </tr>
     
    </tbody>
  </table>
