<form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" >LeaveType Id:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="leaveTypeid"[(ngModel)]="leaveType.id" placeholder="Enter LeaveType Id" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >Leave Type :</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="leaveType" [(ngModel)]="leaveType.leaveType" placeholder="Enter LeaveType" >
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" >Allocation:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="allocation" [(ngModel)]="leaveType.allocationDays" placeholder="Enter Allocation" >
      </div>
    </div>
	
	  <div class="form-group" style="margin-left:400px">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p>Are you sure do you want to create?</p>
      </div>
      <div class="form-group" style="margin-left:400px">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"(click)=" createLeaveType()">Yes</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Edit</button>

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p>Are you sure do you want to update?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
      </div>
    </div>
	
	
</form>