
 
    <div class="form-group">
      <label class="control-label col-sm-2" >DepartmentId:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="departmentid" [(ngModel)]="department.id" placeholder="Enter Department Id" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >Department Name :</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" [(ngModel)]="department.departmentName" id="departmentName" placeholder="Enter Department Name" >
      </div>
    </div>
	
	
	  
    
  
    <div class="form-group" style="margin-left:400px">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button>
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Edit</button>
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" Department="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p>Are you sure do you want to create?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)=" createDeparment()">Save</button>
       
      </div>
    </div>

  </div>
</div>
    
	
	
       

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p>Are you sure do you want to update?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
     
	

