<div class="row">
    <h1>Employee Cancel Leave Request</h1>
    </div>
    
    <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Leave Id</th>
          <th>Leave Type</th>
          <th>Starting date</th>
      <th>Ending date</th>
      <th>Number of days</th>
      <th>Reason</th>
      <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Casual</td>
          <td>01/10/2018</td>
      <td>02/10/2018</td>
      <td>10 days</td>
      <td>Weeding</td>
      <td>Approved</td>
      <td><button type="button" class="btn btn-danger">Cancel</button></td>
        </tr>
      <tr>
          <td>2</td>
          <td>Casual</td>
          <td>01/10/2018</td>
      <td>02/10/2018</td>
      <td>10 days</td>
      <td>Weeding</td>
      <td>pending</td>
        <td><button type="button" class="btn btn-danger">Cancel</button></td>
      </tr>
      <tr>
          <td>3</td>
          <td>Casual</td>
          <td>01/10/2018</td>
      <td>02/10/2018</td>
      <td>10 days</td>
      <td>Weeding</td>
      <td>Approved</td>
        <td><button type="button" class="btn btn-danger">Cancel</button></td>
        </tr>
      </tbody>
    </table>
    </div>