<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add User Registration</button>

<div id="myModal" class="modal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3>User Registration</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <pre>
        {{user | json}}
        </pre>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3">User Id:</label>
            <div class="col-sm-9">
              <input type="text" required [class.is-invalid]="name.invalid && name.touched" #name="ngModel" class="form-control" id="userid"
                placeholder="Enter User Id" name="userid" [(ngModel)]="user.id">
                <small class="text-danger"[class.d-none]="name.valid||name.untouched">ID is required:</small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">E-mail:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email" [(ngModel)]="user.email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">First Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="firstname" placeholder="Enter FIrst Name" name="firstname"
                [(ngModel)]="user.firstName">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Last Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name" name="lastname"
                [(ngModel)]="user.lastName">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Role:</label>
            <div class="col-sm-9">
              <select class="form-control" id="userrole" name="userrole" [(ngModel)]="user.roleId">
                <option *ngFor="let role of roles" value="{{role.id}}">{{role.roleName}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Department:</label>
            <div class="col-sm-9">
              <select class="form-control" id="userdepartment" name="userdepartment" [(ngModel)]="user.departmentId">
                <option *ngFor="let department of departments" value="{{department.id}}">{{department.departmentName}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Join Date:</label>
            <div class="col-sm-9">
              <input type="Date" class="form-control" id="joindate" placeholder="Enter Join Date" name="joindate"
                [(ngModel)]="user.joinDate">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Service Period:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="serviceperiod" placeholder="Enter Service Period" name="serviceperiod"
                [(ngModel)]="user.servicePeriod">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">User Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="username" placeholder="Enter User Name" name="username"
                [(ngModel)]="user.userName">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Password:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Password" placeholder="Enter Password" name="password"
                [(ngModel)]="user.password">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="createUser()">Add User</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Update User</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>