<div id="myModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <br>
        <h4 class="modal-title">Thirupparan</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Leave Id</th>
              <th>Leave Type</th>
              <th>Starting date</th>
              <th>Ending date</th>
              <th>Number of days</th>
              <th>Reason</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
           
              <tr *ngFor="let leaveRequest of leaveRequests">
                <td>{{leaveRequest.id}}</td>
                <td>{{leaveRequest.leaveTypeId}}</td>
                <td>01/10/2018</td>
                <td>02/10/2018</td>
                <td>10 days</td>
                <td>Weeding</td>
                <td>Approval</td>
              </tr>
           

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Manage Leave Request</h1>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Leave Id</th>
          <th>Leave Type</th>
          <th>Applied by</th>
          <th>Ending date</th>
          <th>Number of days</th>
          <th>Reason</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let leaveRequest of leaveRequests">
        <tr *ngIf="leaveRequest.statusId.id == 2">
            
          <td>{{leaveRequest.id}}</td>
          <td>{{leaveRequest.leaveTypeId.leaveType}}</td>
          <td>{{leaveRequest.userId.firstName + " " +leaveRequest.userId.lastName }}</td>
          <td>{{leaveRequest.startDate | date : 'yyyy-MM-dd' }}</td>
          <td>{{leaveRequest.endDate | date : 'yyyy-MM-dd' }}</td>
          <td>{{leaveRequest.leaveDays}}</td>
          <td>{{leaveRequest.reason}}</td>
          <td>{{leaveRequest.statusId.status}}</td>
          <td>
            <div class="row">
              <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#myModal">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </a>
              </div>

              <div class="col-md-4">
                <button class="btn btn-success" (click)="approveLeave(leaveRequest.id)">
                  Approve
                </button>
              </div>

              <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#myModal2">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </div>
            </div>

          </td>
        </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
</div>